<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="baseDataServiceDelegate"
		class="com.ufgov.gk.server.commonbiz.publish.impl.BaseDataServiceDelegate"
		scope="singleton">
		<property name="asOptionService" ref="asOptionService" />
		<property name="asValService" ref="asValService" />
		<property name="billElementService" ref="billElementService" />
		<property name="companyService" ref="companyService" />
		<property name="langTransService" ref="langTransService" />
		<property name="numLimCompoService" ref="numLimCompoService" />
		<property name="searchConditionService"	ref="searchConditionService" />
		<property name="userPreferencesService" ref="userPreferencesService" />
		<property name="userService" ref="userService"></property>
		<property name="userFuncService" ref="userFuncService"></property>
		<property name="workflowTraceService" ref="workflowTraceService"></property>
		<property name="asCompoFuncService" ref="asCompoFuncService"></property>
		<property name="gkWorkflowService" ref="gkWorkflowService"></property>
		<property name="asFileService" ref="asFileService"></property>
		<property name="asUserNumLimService" ref="asUserNumLimService" />
		<property name="asRoleNumLimService" ref="asRoleNumLimService" />
		<property name="asCompoService" ref="asCompoService"></property>
		<property name="numService" ref="numService"></property>
		<property name="gkBusinessLogService" ref="gkBusinessLogService" />
		<property name="asEmpService" ref="asEmpService" />
		<property name="menuService" ref="menuService" />
		<property name="foreignEntityService" ref="foreignEntityService" />
	</bean>

</beans>
